events#index page
<h1>Events</h1>
<p>
  <%= link_to 'New Event', new_event_path %>
</p>
<% @events.each do |current_event| %>
  <div class="event">
    <h3><%= current_event.name %></h3>
    <h4>Date: <%= current_event.date %></h4>
  </div>
<% end %>
